<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Dashboard</title> <!-- TODO: Include username -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/cirrus.min.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    
    <space class="x-large"></space>

    <div id="tabs" class="content">
        <!-- Tab control for the dashboard -->
        <div class="tab-container tabs-fill">
            <ul>
                <li class="tab-item selected"><a>Phrases</a></li>
                <li class="tab-item"><a>Profile</a></li>
            </ul>
        </div>
        
            <space class="x-large"></space>
    
            <div class="tabpage shown">
                <div class="hide-mobile">
                    <h3>Saved Pass Phrases</h3>
                    <p>List of previously generated pass phrases.</p>
                </div>
                <space></space>
                <table class="table">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Pass Phrase</th>
                                <th>Strength</th>
                            </tr>
                        </thead>
                        <% for(var i = 0; i < user.phrases.length; i++){ %>
                            <tr>
                                <th> <%= user.phrases[i] %>
                                <td> 949 </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="tabpage">
                <div class="scrollable-container">
                    <div class="row">
                        <div class="card-tile tile-center">
                            <div class="tile-icon">
                                <figure class="avatar">
                                    <img src=<%= user.avatar %>>
                                </figure>
                            </div>
                            <div class="tile-container">
                                <h5 class="tile-title no-margin light"><%= user.user %></h3>
                                <h6 class="tile-subtitle no-margin light"><%= user.phrases.length %> pass phrases saved.</h6>
                            </div>
                        </div>

                        <space class="x-large"></space>
        
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td><%= user.user %></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><%= user.email %></td>
                                </tr>
                                <tr>
                                    <th>Phrases Saved</th>
                                    <td><%= user.phrases.length %></td>
                                </tr>
                                <tr>
                                    <th>Average Phrase Strength</th>
                                    <td>9.9</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script async src='javascripts/smoothscroll.js'></script>
    <script async src='javascripts/tabs.js'></script>
    <script async src='javascripts/tab-loader.js'></script>
    <script async src="https://use.fontawesome.com/a696b91557.js"></script>
    <script async src='javascripts/navbar.js'></script>
  </body>
</html>
